body {
  font-size: .875rem;
  font-family: 'Ubuntu', sans-serif;
}  

/* Navbar */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-item {
  display: block;
  /* padding: .5rem 1rem; */
  background-color: #f8f9fa;
  cursor: pointer;
}

.sidebar-main-item {
  padding-top: .5rem;
  padding-bottom: .5rem;
  /* margin-left: 1rem; */
}

.side-main-item-margin {
  margin-left: 1rem;
}

.dropbtn {
  border: none;
  background-color: #f8f9fa;
}

.sidebar-item:hover, .sidebar-item:focus {
  background-color: #2980B9;
}

/* .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
} */

.dropbtn:hover {
  background-color: #2980B9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  width: 100%;
  /* overflow: auto; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 7.5px;
}

.dropdown-content span, .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #2980B9;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropdown-content-filter {
  max-height:250px;/* you can change as you need it */
  overflow:auto;/* to get scroll */
}

.input-drop {
  padding: 12px 16px;
}

.show {
  display: block;
}

.active-dropdown {
  background-color: #2980B9;
}

.active-dropdown-filter {
  background-color: #2980B9;
}

.sidebar-button {
  padding: 12px 16px;
  padding-right: 100%;
  border: none;
  background-color: #f8f9fa;
}

.sidebar-button:hover{
  background-color: #2980B9;
}

#filter-reset {
  display: none;
  background-color: orange;
}

/* Table */
th {
  cursor: pointer;
  background-color: #7d8285;
}

.table>tbody>tr>td{
  border:0px;
  vertical-align: middle;
}

.tableFixHead { 
  overflow-y: auto; 
  height: 90vh; 
}

.tableFixHead thead th { 
  position: sticky; 
  top: 0vh; 
}

.tableFixHead th {
  border: 1px solid;
  box-shadow: 0px 0px 0px 1px #fff;
}

.fa-grip-lines-vertical {
  float: right;
  font-size: 20px;
}

.fa-expand-alt {
  float: right;
}

.td-name {
  cursor: pointer;
}

.td-department {
  cursor: pointer;
}

.td-location {
  cursor: pointer;
}

.employee-highlight {
  background-color: #9ffa92;
  padding: 1.5px;
  border-radius: 10px;
  cursor: pointer;
}

.department-highlight {
  background-color: #ff8383;
  padding: 1.5px;
  border-radius: 10px;
  cursor: pointer;
}

.location-highlight {
  background-color: #979eff;
  padding: 1.5px;
  border-radius: 10px;
  cursor: pointer;
}

#id-column {
  min-width: 65px;
}

#name-column {
  min-width: 190px;
}

#department-column {
  min-width: 130px;
}

#location-column {
  min-width: 120px;
}

.fa-grip-lines-vertical {
  color: #ff2d2d;
}

.fa-expand-alt {
  color: #2d30ff;
}

@media (max-width: 1112.5px) {
  .table .td-job, .table #job-column {
    display: none;
  }

}

@media (max-width: 992.5px) {
  .table .td-job, .table #job-column {
    display: none;
  }

  .table .td-email, .table #email-column {
    display: none;
  }
}

@media (max-width: 570.5px) {
  .table .td-job, .table #job-column {
    display: none;
  }

  .table .td-email, .table #email-column {
    display: none;
  }

  .table .td-location, .table #location-column {
    display: none;
  }
}

@media (max-width: 416.5px) {
  .table .td-job, .table #job-column {
    display: none;
  }

  .table .td-email, .table #email-column {
    display: none;
  }

  .table .td-location, .table #location-column {
    display: none;
  }

  .table .td-department, .table #department-column {
    display: none;
  }
}


/* Cards */
.container {
  padding-top: 15px;
}

.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed .employee-card {
  text-align:center;
}

.team-boxed .employee-card .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .employee-card .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .employee-card .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .employee-card img {
  max-width:160px;
}

@media (max-width: 575.5px) {
  .rounded-circle {
    display: none;
  }

}


/* Modal */

.labels {
  font-size: medium;
  color: gray;
  text-transform: uppercase;
}

.labels-values {
  font-size: large;
}

.delete-info {
  font-size: large;
}

.form-error-message {
  color: red;
}